<div class="container-fluid">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1456&q=80)">
    <div class="d-flex justify-content-end">
      <%= link_to 'Add to the list', new_list_bookmark_path(@list.id), class: 'btn btn-primary' %>
      <%= link_to 'Back to lists', root_path, class: 'btn btn-primary mx-2' %>
    </div>
    <div class="container d-flex justify-content-center">
      <h1><%= @list.name %></h1>
      <%# <p>Change your life and learn to code at one of our campuses around the world.</p>
      <a class="btn btn-flat" href="#">Apply now</a> %>
    </div>
  </div>

  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card col-3 mx-2 my-2" style="width: 18rem;">
        <% if bookmark.photo.attached? %>
          <%= cl_image_tag bookmark.photo.key, width: 300, height: 300, crop: :fill %>
        <% else %>
          <%= image_tag ("https://image.tmdb.org/t/p/w500/#{bookmark.movie.poster_url}") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= bookmark.movie.rating %></h6>
          <p class="card-text"><%= bookmark.movie.overview %></p>
        </div>
        <%# <%= link_to bookmark_path(@bookmark.id), method: "delete" do %>
          <%# <i class="fas fa-trash-alt"></i> %>
        <%# <% end %>
      </div>

      <%# <li><%= Bookmark.find_by(list: @list, movie: movie).comment </li> %>
    <% end %>
  </div>
</div>
